<h1>CM一覧</h1>
  <% if @cmposts.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>タイトル</th>
        <th>商品名</th>
      </tr>
    </thead>
    <tbody>
      <% @cmposts.each do |cmpost| %>
        <tr>
          <td><%= link_to cmpost.cm_url, cmpost %></td>
          <td><%= cmpost.cm_title %></td>
          <td><%= cmpost.cm_service %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @cmposts %>
  </div>
<% end %>
<%= link_to '新規投稿の作成', new_cmpost_path, class: "btn btn-primary" %>