<% if logged_in? %>
<div class="row">
 <h1>CM一覧</h1>
 <div class="input-group">
   <div class="form-group" style="display: flex">
     <%= form_tag(search_path,:method => 'get') do %>
      <%= text_field_tag :keyword, '',placeholder: "キーワード検索", class: "form-control", style: "width:180px; float:left;"%>
      <span class="input-group-btn" style="float: right; margin-left:5px;">
        <%= button_tag 'Search',class: "btn btn-secondary" %>
      </span>
     <% end %>
    </div>
  </div>
</div>
<%= render 'cmposts/cmposts', cmposts: @cmposts %>
<div class="row">
  <%= link_to '新規投稿の作成', new_cmpost_path, class: "btn btn-primary" %>
</div>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="welcome">CMposts</p>
      <p class="sentence">CMに込められた想いを伝えたい</p>
      <%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-danger' %>
    </div>
  </div>
<% end %>